/* code standard pour effacer le par-défaut */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* garder des dimensions constantes de la page*/
body {
    overflow:hidden;
    background:url('./images/arriere_plan.jpg') no-repeat;
    background-size:cover;
    min-width:100vw;
    max-width:100vw;
    min-height:100vh;
    max-height:100vh;
}
/* mettre le titre au milieu*/
.flexContainer {
    display:flex;
    justify-content:center;
    max-height:650px;
}
/* animation du titre */
@keyframes entrer{
    from {
        margin-left: -100%;
        margin-top: 100%;
        width: 300%;
        height: 300%;
    }
    75% {
        margin-left: -25%;
        margin-top: 25%;
        width: 150%;
        height: 150%;
    }
    to {
        margin-left: 0%;
        margin-top: 0%;
        width: 100%;
        height: 100%;
    }
}
/* premier titre */
#en_avant {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    height:100%;
    animation-duration:2s;
    animation-name:entrer;
    z-index:99;
}
/* deuxieme titre (avec regle de jeu) */
#en_arriere {
    visibility:hidden;
    display:flex;
    flex-direction:column;
    align-items:center;
    position:absolute;
    top:65%;
    left:50%;
    transform:translate(-50%, -50%);
    height:100%;
}
#en_arriere img {
    margin-bottom:1rem;
    padding:1rem;
    border:1px white dashed;
}
#logo {
    position:absolute;
    top:10%;
    left:50%;
    transform:translate(-50%, -10%);
    max-width:500px;
}
/* la couleur et taille reglees par une classe */
.btn {
    background: white;
    color: black;
    font-family:'Ubuntu Mono';
    font-size:2rem;
    width:10rem;
    display:inline;
}
/* la position reglee par un id */
#btns {
    min-width:22rem;
}
#btn_depart {
    position:absolute;
    bottom:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
/* mon titre en bas :) */
#auteur {
    position:absolute;
    bottom:10%;
    left:50%;
    transform:translate(-50%, 0);
    max-width:100px;
}

#scores {
    position:absolute;
    top:250px;
    left:40px;
    font-family:"Ubuntu Mono";
    background:black;
    color:white;
    padding:1rem;
}
#scores h2 {
    text-decoration:underline;
}

/* panneau de controle audio */
#audio_controle {
    position:absolute;
    bottom:40px;
    left:40px;
    height:25vh;
    font-family:"Ubuntu Mono";
    background:black;
    color:white;
    padding:1rem;
}
#audio_controle span{
    font-size:2rem;
}

#perdu {
    visibility:hidden;
    height:100vh;
    width:600px;
    position:absolute;
    z-index:99;
    font-family:"Ubuntu Mono";
    background:black;
    color:white;
    padding:1rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
#perdu h1 {
    position:absolute;
    top:10%;
}
#perdu button {
    position:absolute;
    bottom:10%;
}
